body {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.heading {
    color: $color-heading;
}

.heading__primary {
    font-size: 2.5rem;
    font-weight: 200;

    span {
        display: block;
        font-weight: 600;
    }
}

.heading__secondary {
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.text {
    color: $color-text;
}

.text__primary {
    line-height: 1.8;
    font-size: 1.8rem;
}

.text__secondary {
    margin-bottom: 3rem;
}