*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0 5%;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 10%;
  }
}

@media only screen and (min-width: 1366px) {
  .container {
    padding: 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.heading {
  color: #4c4e61;
}

.heading__primary {
  font-size: 2.5rem;
  font-weight: 200;
}

@media only screen and (min-width: 1024px) {
  .heading__primary {
    font-size: 3rem;
  }
}

.heading__primary span {
  display: block;
  font-weight: 600;
}

.heading__secondary {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.text {
  color: #a3a5ae;
}

.text__primary {
  line-height: 1.8;
  font-size: 1.8rem;
}

@media only screen and (min-width: 1024px) {
  .text__primary {
    font-size: 2rem;
  }
}

.text__secondary {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1024px) {
  .text__secondary {
    font-size: 1.8rem;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 3rem 0;
  width: 100%;
}

@media only screen and (min-width: 1366px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards__container {
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 8px rgba(69, 211, 211, 0.1), 0 15px 26px rgba(163, 165, 174, 0.25);
          box-shadow: 0 6px 8px rgba(69, 211, 211, 0.1), 0 15px 26px rgba(163, 165, 174, 0.25);
  margin-bottom: 4rem;
  padding: 3rem;
  width: 100%;
}

@media only screen and (min-width: 1366px) {
  .cards__container {
    width: 40rem;
  }
}

@media only screen and (min-width: 1366px) {
  .cards__container--middle {
    margin: 0 4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.cards__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#supervisor,
#team-builder,
#karma,
#calculator {
  border-top-width: 5px;
  border-top-style: solid;
}

#supervisor {
  border-top-color: #45d3d3;
}

#team-builder {
  border-top-color: #ea5353;
}

#karma {
  border-top-color: #fcaf4a;
}

#calculator {
  border-top-color: #549ef2;
}

.footer {
  background-color: #353535;
  padding: 1.5rem 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .footer {
    font-size: 1.8rem;
  }
}

.footer__text {
  color: #cccccc;
  font-weight: 200;
}

.footer__text a:link,
.footer__text a:visited {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.header {
  padding: 5rem 0;
}

@media only screen and (min-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-width: 1366px) {
  .header {
    padding: 5rem 0 0 0;
  }
}

.header__head, .header__body {
  text-align: center;
}

.header__head {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .header__body {
    width: 55%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1366px) {
  .header__body {
    width: 48%;
    margin: 0 auto;
  }
}
